{% extends "base.html" %}

{% block content %}
<div id="moviesCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for movie in movies %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <a href="{% url 'movie_detail' movie.slug %}">
        <img src="{{ movie.poster.url }}" class="d-block w-100 poster" alt="{{ movie.title }}" height="500" width="500">
      </a>
      <div class="row featurette flex-center">
        <div class="col-md-7">
            <h3>{{ movie.title }}</h3>
            <h4>Directed by: <strong>{{ movie.director }}</strong></h4>
            <p>
                <strong>Synopsis:</strong>
                {{ movie.description }}
            </p>
        </div>
    </div>
    
</div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#moviesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#moviesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div id="gamesCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for game in games %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <img src="{{ game.poster.url }}" class="d-block w-100 poster" alt="{{ game.title }}" height="500" width="500">
      <div class="row featurette flex-center">
        <div class="col-md-7">
            <h3>{{ game.title }}</h3>
            <h4>Developed by: <strong>{{ game.developer }}</strong></h4>
            <p>
                <strong>Synopsis:</strong>
                {{ game.synopsis }}
            </p>
        </div>
    </div>
    
</div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#gamesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#gamesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div id="showsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for show in shows %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <img src="{{ show.poster.url }}" class="d-block w-100 poster" alt="{{ show.title }}" height="500" width="500">
      <div class="row featurette flex-center">
        <div class="col-md-7">
            <h3>{{ show.title }}</h3>
            <h4>Created by: <strong>{{ show.writer }}</strong></h4>
            <p>
                <strong>Synopsis:</strong>
                {{ show.description }}
            </p>
        </div>
    </div>
    
</div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#showsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#showsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}