{% extends "base.html" %}

{% block content %}

    <div class="row featurette">
        <div class="col-md-5">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h3>{{ movie.title }}</h3>
            <h4>Directed by: <strong>{{ movie.director }}</strong></h4>
            <h4>Written by: {{ movie.writer }}</h4>
            <h5>Starring: {{ movie.cast }}</h5>
            <h5>Genres: {{ movie.genre }}</h5>
            <p>
                <strong>Synopsis:</strong>
                {{ movie.description }}
            </p>
            <hr>
            <div class="container">
                {% for review in movie.reviews.all %}
                <div class="row">
                    <p>Author: <span class="author">{{ review.author }}</span></p> 
                    <p>
                        {{ review.comment }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- <div class="row featurette">
        <div class="col-md-7">
            {% for review in movie.reviews.all %}
            <p>
                {{ review.comment }}
            </p>
            {% endfor %}
        </div>
    </div> -->

{% endblock %}