{% extends "base.html" %}

{% block content %}

    {% for movie in movies %}
    <div class="row featurette">
            <div class="col-md-5">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="featurette-image image-responsive poster-contain">
            </div>
            <div class="col-md-7">
                <h3>{{ movie.title }}</h3>
                <h4>Directed by: <strong>{{ movie.director }}</strong></h4>
                <p>
                    <strong>Synopsis:</strong>
                    {{ movie.description }}
                </p>
                <hr>
                <h4>Reviews:</h4>
                {% for review in movie.reviews.all %}
                <span>Score: {{ review.stars }} / 10</span>
                <p>
                    {{ review.comment }}
                </p>
                {% endfor %}
            </div>
    </div>
    {% endfor %}
{% endblock %}