{% extends "base.html" %}

{% block content %}

    {% for movie in movies %}
    <div class="row featurette">

        {% if forloop.index|divisibleby:2 != 0 %}

            <div class="col-md-7">
                <h3>{{ movie.title }}</h3>
                <h4>Directed by: <strong>{{ movie.director }}</strong></h4>
                <p>
                    {{ movie.description }}
                </p>
            </div>
            <div class="col-md-5">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="featurette-image image-responsive poster-contain">
            </div>

        {% else %}
            <div class="col-md-5">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="featurette-image image-responsive poster-contain">
            </div>
            <div class="col-md-7">
                <h3>{{ movie.title }}</h3>
                <h4>Directed by: <strong>{{ movie.director }}</strong></h4>
                <p>
                    {{ movie.description }}
                </p>
            </div>
        {% endif %}
    </div>

        {% if forloop.index != forloop.length %}
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
{% endblock %}