{% extends "base.html" %}

{% block content %}

    {% for show in shows %}
        <div class="row featurette">
            {% if forloop.index|divisibleby:2 != 0 %}
                <div class="col-md-7">
                    <h3>{{ show.title }}</h3>
                    <p>
                        {{ show.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ show.poster.url }}" alt="{{ show.title }}">
                </div>
        </div>
            {% else %}
                <div class="col-md-5">
                    <img src="{{ show.poster.url }}" alt="{{ show.title }}">
                </div>
                <div class="col-md-7">
                    <h3>{{ show.title }}</h3>
                    <p>
                        {{ show.description }}
                    </p>
                </div>
            {% endif %}
    {% endfor %}
{% endblock %}